.filter-suggestions {
  background-color: grey;
  text-align: center;
}

.items {
  background-color: green;
}
.apply-button {
  align-items: center;
  text-align: center;
  background-color: black;
}
