.filter-suggestions {
  background-color: #ccc;
  text-align: center;
  height: 100vh;
}

.items {
  background-color: white;
}
.apply-button {
  // align-items: right;
  // text-align: center;
  // background-color: black;
  // margin: 0 0 auto;
}

.form-title {
  // background-color: white;
}
